shared_libs/hl7_validation/hl7_validation/resources/hl7v2_5_minimal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="HL7Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MSH" minOccurs="1" maxOccurs="1" type="MSHType"/>
        <xs:element name="PID" minOccurs="0" maxOccurs="unbounded" type="PIDType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MSHType">
    <xs:sequence>
      <xs:element name="MSH.1" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.2" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.3" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.4" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.5" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.6" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.7" minOccurs="1" type="xs:string"/>
      <xs:element name="MSH.8" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="MSH.9" minOccurs="1" type="xs:string"/>
      <xs:element name="MSH.10" minOccurs="1" type="xs:string"/>
      <xs:element name="MSH.11" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.12" minOccurs="1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PIDType">
    <xs:sequence>
      <xs:element name="PID.3" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="PID.5" minOccurs="0" type="xs:string"/>
      <xs:element name="PID.7" minOccurs="0" type="xs:string"/>
      <xs:element name="PID.8" minOccurs="0" type="xs:string"/>
      <xs:element name="PID.29" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>


