shared_libs/hl7_validation/hl7_validation/resources/phw_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:simpleType name="NonEmptyString">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FieldSeparatorType">
    <xs:restriction base="xs:string">
      <xs:length value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EncodingCharsType">
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HL7Message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MSH" minOccurs="1" maxOccurs="1" type="MSHType"/>
        <xs:element name="EVN" minOccurs="0" maxOccurs="unbounded" type="EVNType"/>
        <xs:element name="PID" minOccurs="0" maxOccurs="unbounded" type="PIDType"/>
        <xs:element name="PD1" minOccurs="0" maxOccurs="unbounded" type="PD1Type"/>
        <xs:element name="PV1" minOccurs="0" maxOccurs="unbounded" type="PV1Type"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MSHType">
    <xs:sequence>
      <xs:element name="MSH.1" minOccurs="1" type="FieldSeparatorType"/>
      <xs:element name="MSH.2" minOccurs="1" type="EncodingCharsType"/>
      <xs:element name="MSH.3" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.4" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.5" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.6" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.7" minOccurs="1" type="NonEmptyString"/>
      <xs:element name="MSH.8" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.9" minOccurs="1" type="NonEmptyString"/>
      <xs:element name="MSH.10" minOccurs="1" type="NonEmptyString"/>
      <xs:element name="MSH.11" minOccurs="1" type="xs:string"/>
      <xs:element name="MSH.12" minOccurs="1" type="NonEmptyString"/>
      <xs:element name="MSH.13" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.14" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.15" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.16" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.17" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.18" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.19" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.20" minOccurs="0" type="xs:string"/>
      <xs:element name="MSH.21" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PIDType">
    <xs:sequence>
      <xs:element name="PID.3" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      <xs:element name="PID.5" minOccurs="0" type="xs:string"/>
      <xs:element name="PID.7" minOccurs="0" type="xs:string"/>
      <xs:element name="PID.8" minOccurs="0" type="xs:string"/>
      <xs:element name="PID.29" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EVNType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PD1Type">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PV1Type">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>



